@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background: rgb(30,30,30);
	background: linear-gradient(120deg, rgba(30,30,30,1) 0%, rgba(20,20,20,1) 100%);    color: rgb(150, 150, 150);
    font-family: monospace;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50.2%); /* ghetto fix */
    text-align: center;
}

.main a {
    color: #444;
    text-decoration: none;
}

.main a:hover {
    color: white;
}

.main pre {
    font-size: 25px;
    background: linear-gradient(to bottom, magenta, darkblue);
    background-size: 100% 92%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    user-select: none;
}

.main input {
    display: block;
}

.container {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    width: 80%;
    min-height: 250px;
}

.main input[type="text"], .main input[type="password"] {
    font-family: monospace;
    background: transparent;
    border: 1px solid rgb(132, 117, 230);
    padding: 10px;
    margin: 15px;
    width: 350px;
    color: #444;
    outline: 0;
}

.main input[type="submit"] {
    font-family: monospace;
    background: transparent;
    border: 1px solid rgb(132, 117, 230);
    padding: 10px;
    margin: 15px;
    width: 350px;
    cursor: pointer;
    text-align: center;
    color: #444;
    outline: 0;
}

.info {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 240px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: -69;
}

.info a {
    display: block;
}

.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.user-controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

a[href^="#"], a[href^="h"], a[href^="/"] {
    text-decoration: none;
    color: #444;;
}

a[href^="#"]:hover, a[href^="h"]:hover, a[href^="/"]:hover {
    text-decoration: underline;
    color: white;
}

.loading {
    background: black;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
}

.loading .border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 8px;
}

.loading .border .loader {
    position: relative;
    top: 100%;
    background: rgb(132, 117, 230);
    width: 0%;
}

.fadeout {
    transition: 1s ease;
    pointer-events: none;
    opacity: 0;
}

.hidden {
    display: none;
}

.panel-card {
    position: relative;
    width: 650px;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    background: rgb(49, 55, 66);
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

.panel-card .separator {
    width: 50%;
    float: left;
}

.panel-card .inner {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-top: 2px solid #4D5460;
    border-bottom: 2px solid#4D5460;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-card .header {
    height: 0px;
}

.panel-card .header span {
    position: relative;
    bottom: 33px;
}

select {
    background: rgb(49, 55, 66);;
    outline: 0;
    border-color: rgb(132, 117, 230);
    outline-color: rgb(132, 117, 230);
    color: #444;
    width: 150px;
}

.question {
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    margin: 15px;
    text-align: left;
    user-select: none;
    border-radius: 8px;
}

.question span {
    display: block;
}

.question .answer {
    display: none;
}

.question.open {
    border: 2px solid rgb(122, 136, 230);
}

.question.open .answer{
    margin-top: 10px;
    display: block;
}

.modal.shown {
    visibility: visible;
    top: 50%;
    transition: 0.6s ease;
    z-index: 999999;
    border-radius: 8px;
}

.modal-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 99999;
    pointer-events: none;
}

.modal-overlay.shown {
    transition: 0.6s ease;
    opacity: 0.85;
    pointer-events: all;
}

.modal {
    position: absolute;
    width: 500px;
    top: -500px;
    min-height: 200px;
    visibility: hidden;
    left: 50%;

    border: 2px solid rgb(132, 117, 230);
    background: rgb(41, 46, 57);

    transform: translate(-50%, -50%);
}

.modal.shown {
    visibility: visible;
    top: 50%;
    transition: 0.6s ease;
    z-index: 999999;
}

.modal-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 99999;
    pointer-events: none;
}

.modal-overlay.shown {
    transition: 0.6s ease;
    opacity: 0.85;
    pointer-events: all;
}

.invites {
    overflow-x: hidden;
}

.toast {
    background-color: rgb(49, 55, 66) !important;
    box-shadow: none !important;
    border-radius: 8px;
}

.toast-error {
    border: 2px solid rgb(129, 122, 230);
}

.toast-success {
    border: 2px solid rgb(129, 122, 230);
}

.stats {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

* { /* lol */
    scrollbar-width: thin;
    scrollbar-color: rgb(132, 117, 230);
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(132, 117, 230);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(89, 80, 153);
}

.comments {
    text-align: left;
}

.comment {
    border-bottom: solid 2px #4D5460;
}

.comment .author {
    display: block;
}

.comment .contents {
    margin-left: 12px;
    word-wrap:break-word;
}

.leave-comment input[type="text"] {
    display: inline-block;
    margin: 1px;
    padding: 1px;
}

.leave-comment button {
    position: relative;
    background: rgb(49, 55, 66);
    color: #444;
    height: 22px;
    outline: none;
    border:1px solid rgb(132, 117, 230);
}

.leave-comment form{
    display: none;
}

.leave-comment.shown form{
    display: block;
}

.leave-comment form {
    margin-block-end: 0;
}

.card-header {
    background: linear-gradient(to right, #8572e6, #7299e6);
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

.card-header .nigger {
    background: url(swirl.png);
    width: 100%;
    height: 100%;
    background-size: 600px 80px;
    background-position: 20px 50px;
}